full_pdbs/
alns/
awk/
blast_binaries/
blastdb/
foldseek_db/
foldseek_search/
foldseek_tmp/
rocx/
rocxfdr/
scop40pdb/
sorted_alns/
time/
tmp/
*.tmp
tmp
__pycache__/
old_scripts/
saved_analysis/
Thumbs.db
misc/
foldseek_full_ge500/
foldseek_search_full/
full_length_out/
reseek_ge500/
reseek_search_dbsizes/
reseek_search_full/
tm_ge500/
ec2_homedir/
tarballs/
